---
---

$jacket: critical;

// Grid
$neat-grid: (
  columns: 12,
  gutter: 20px,
  direction: ltr,
);

$neat-grid-reverse: (
  columns: 12,
  gutter: 20px,
  direction: ltr,
);

// LTR websites
$direction: ltr;
$start-direction: left;
$end-direction: right;
$transform-direction: 1;

// Reset
@import "normalize";
@import "mixins";

// Utilities
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "ether/typography/type-variables";
@import "ether/spacing/spacing";
@import "jacket";

// Vendors
@import "vendors/animate.css/animate";
@import "vendors/slick-slider/slick";
@import "vendors/slick-slider/slick-theme";

// Layout
@import "layout/layout";
@import "layout/responsive";
@import "layout/header";
@import "layout/footer";

// Components
@import "components/section";
@import "components/popup";
@import "components/contact";

// Templates
@import "templates/home";
