---
---

$jacket: non-critical;

// Grid
$neat-grid: (
  columns: 12,
  gutter: 20px,
  direction: rtl,
);

$neat-grid-reverse: (
  columns: 12,
  gutter: 20px,
  direction: ltr,
);

// RTL websites
$direction: rtl;
$start-direction: right;
$end-direction: left;
$start-direction-shorthand: r;
$end-direction-shorthand: l;
$transform-direction: -1;

// Reset
@import "mixins";

// Utilities
@import "bourbon/bourbon";
@import "base/variables";
@import "neat/neat";
@import "ether/typography/type-variables";
@import "ether/spacing/spacing";
@import "jacket";

// Vendors
@import "vendors/magnific-popup/magnific-popup";
@import "vendors/lightgallery/lightgallery";
@import "vendors/lightgallery/lg-transitions";
@import "vendors/lightslider/lightslider";

// Layout
@import "layout/layout";
@import "layout/responsive";
@import "layout/header";
@import "layout/footer";

// Components
@import "components/section";
@import "components/popup";
@import "components/contact";

// Templates
@import "templates/home";
