.view.--homepage {
  .section.--hero.--gallery {
    .hero {
      position: relative;

      .carousel {
        .slick-dots {
          position: absolute;
          bottom: 20px;

          li {
            button {
              background-color: $white;
              opacity: 0.5;
              width: 12px;
              height: 12px;
              transform: scale(0.85);
            }

            button:hover {
              background-color: $white;
              transform: scale(1);
              opacity: 0.85;
            }

            &.slick-active button {
              background-color: $white;
              transform: scale(1);
              opacity: 0.85;
            }
          }
        }
      }

      .logo {
        display: none;

        @include breakpoint(lg) {
          display: block;
          position: absolute;
          top: 200px;
          left: 120px;
        }

        .logo--1 {
          @include breakpoint(lg) {
            display: block;
          }
        }

        .logo--2 {
          @include breakpoint(lg) {
            display: block;
            position: relative;
            top: 10px;
            left: 312px;
          }
        }
      }

      .about {
        display: none;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        @include size--base-0;
        @include font--primary-semibold;

        @include breakpoint(lg) {
          display: block;
          position: absolute;
          top: 400px;
          left: 300px;
        }

        a {
          color: rgba($white, 1);

          &:hover {
            color: rgba($white, 0.65);
          }

          img {
            @include m-r-spacer-($spacer-sm);
          }
        }
      }
    }
  }

  .section.--about {
    .section__header {
      @include breakpoint(lg) {
        @include grid-column(5);
        text-align: left;
      }

      .title {
        @include breakpoint(lg) {
          margin-top: -20px;
        }
      }
    }

    .section__content {
      @include breakpoint(lg) {
        @include grid-column(7);
      }
    }
  }

  .section.--cover.--cover-1 {
    background-image: url('https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-01.jpg');
    background-image: -webkit-image-set('https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-01.jpg' 1x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-01_2x.jpg' 2x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-01_2x.jpg' 3x);
    background-image: image-set('https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-01.jpg' 1x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-01_2x.jpg' 2x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-01_2x.jpg' 3x);
  }

  .section.--restaurants {
    .restaurants {
      .item {
        float: left;
        position: relative;
        overflow: hidden;

        .item__overlay {
          @include overlay(2);
        }

        .item__cover {
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          transition: transform 3*$base-duration $base-timing;

          img {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            max-width: none;
          }
        }

        .item__logo {
          position: absolute;
          z-index: 3;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }

      .item:hover {
        .item__cover {
          transform: translateX(-50%) translateY(-50%) scale(1.15);
        }
      }

      .slick-slide.item {
        height: 280px !important;
      }
    }
  }

  .section.--cover.--cover-2 {
    background-image: url('https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-02.jpg');
    background-image: -webkit-image-set('https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-02.jpg' 1x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-02_2x.jpg' 2x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-02_2x.jpg' 3x);
    background-image: image-set('https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-02.jpg' 1x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-02_2x.jpg' 2x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-02_2x.jpg' 3x);
  }

  .section.--tv {
    .tv {
      @include grid-container;

      .item {
        @include breakpoint(lg) {
          @include grid-column(4)
        }
      }
    }
  }

  .section.--projects {
    .carousel {
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 386px;
        height: 690px;
        z-index: 1;
      }

      &:before {
        left: 0;
        background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
      }

      &:after {
        right: 0;
        background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
      }
    }
  }

  .section.--cover.--cover-3 {
    background-image: url('https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-03.jpg');
    background-image: -webkit-image-set('https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-03.jpg' 1x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-03_2x.jpg' 2x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-03_2x.jpg' 3x);
    background-image: image-set('https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-03.jpg' 1x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-03_2x.jpg' 2x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-03_2x.jpg' 3x);
  }

  .section.--lectures-and-workshops {
    .section__header {
      .title {
        @include breakpoint(lg) {
          @include grid-column(5);
          margin-top: -20px;
          text-align: left;
        }
      }

      .tagline {
        @include breakpoint(lg) {
          @include grid-column(7);
          text-align: left;
        }
      }
    }

    .section__content {
      .lectures-and-workshops {
        @include grid-container;

        .item {
          @include breakpoint(lg) {
            @include grid-column(4);
            @include m-b-spacer-($spacer-2xl);
            @include p-r-spacer-($spacer-md);
          }

          .quote {
            blockquote {
              @include size--base-0;
              @include font--primary-regular-italic;
            }
          }

          .author {
            @include m-t-spacer-($spacer-sm);
            @include size--base-0;
            @include font--primary-semibold;
          }

          .more {
            @include m-t-spacer-($spacer-lg);
          }
        }
      }
    }
  }

  .section.--cookbooks {
    @include m-t-spacer-(-$spacer-2xl);

    .cookbooks {
      @include grid-container;

      .item {
        @include breakpoint(lg) {
          @include grid-column(6);
          @include m-b-spacer-($spacer-2xl);
        }

        .image {
          @include p-b-spacer-($spacer-md);
          float: left;
          padding-bottom: 20px;
          text-align: right;
          width: 220px;
        }

        .title {
          @include m-t-spacer-($spacer-none);
          margin-top: 5px;
          margin-left: 230px;
          max-width: 315px;
        }

        .description {
          margin-left: 230px;
          max-width: 315px;
        }

        .more {
          margin-left: 230px;
          max-width: 315px;
        }
      }
    }
  }

  .section.--cover.--cover-4 {
    @include m-t-spacer-(-$spacer-2xl);
    background-image: url('https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-04.jpg');
    background-image: -webkit-image-set('https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-04.jpg' 1x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-04_2x.jpg' 2x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-04_2x.jpg' 3x);
    background-image: image-set('https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-04.jpg' 1x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-04_2x.jpg' 2x, 'https://res.cloudinary.com/dqdq2mu2e/image/upload/assafgranit/covers/inter-image-04_2x.jpg' 3x);
  }

  .section.--awards {
    .awards {
      @include grid-container;

      .item {
        text-align: center;

        .restaurant {
          @include m-b-spacer-($spacer-md);
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            display: inline;
          }
        }

        .quote {
          @include m-b-spacer-($spacer-md);

          blockquote {
            @include size--base-1;
            @include font--primary-regular-italic;
            color: $gray-50;
          }
        }

        .author {
          @include m-b-spacer-($spacer-lg);
          @include size--base-0;
          @include font--primary-regular-italic;
          color: $gray-50;
        }

        .logo {
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            display: inline;
          }
        }
      }
    }
  }

  .section.--press {
    @include m-t-spacer-(-$spacer-3xl);

    .press {
      @include grid-container;

      .item {
        text-align: center;

        .restaurant {
          @include m-b-spacer-($spacer-md);
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            display: inline;
          }
        }

        .quote {
          @include m-b-spacer-($spacer-md);

          blockquote {
            @include size--base-1;
            @include font--primary-regular-italic;
            color: $gray-50;
          }
        }

        .year {
          @include m-b-spacer-($spacer-lg);
          @include size--base-0;
          @include font--primary-regular-italic;
          color: $gray-50;
        }

        .logo {
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            display: inline;
          }
        }
      }
    }
  }

  .section.--contact {
    @include m-t-spacer-(-$spacer-3xl);
  }
}
