<form id="{{include.category}}-form" class="contact" action="{{include.action}}" method="post">
  <input type="hidden" name="{{include.category}}" class="selected-item" value=""/>

  <div class="form">
    <div class="column  --left">
      <div class="form-control  --name">
        <input
          id="{{include.category}}-name"
          type="text"
          name="name"
          placeholder="{{site.data.i18n[page.language].home.contact.form.name.placeholder}}"
          aria-label="{{site.data.i18n[page.language].home.contact.form.name.label}}"
        />
      </div>

      <div class="form-control  --phone">
        <input
          id="{{include.category}}-phone"
          type="tel"
          name="phone"
          placeholder="{{site.data.i18n[page.language].home.contact.form.phone.placeholder}}"
          aria-label="{{site.data.i18n[page.language].home.contact.form.phone.label}}"
        />
      </div>

      <div class="form-control  --email">
        <input
          id="{{include.category}}-email"
          type="email"
          name="email"
          placeholder="{{site.data.i18n[page.language].home.contact.form.email.placeholder}}"
          aria-label="{{site.data.i18n[page.language].home.contact.form.email.label}}"
        />
      </div>

    </div>
    <div class="column  --right">
      <div class="form-control  --message">
        <textarea
          id="{{include.category}}-message"
          name="message"
          placeholder="{{site.data.i18n[page.language].home.contact.form.message.placeholder}}"
          aria-label="{{site.data.i18n[page.language].home.contact.form.message.label}}"
        ></textarea>
      </div>
      <div class="form-control  --submit">
        <button type="submit">
          {% include image.html src="cta-arrow-blue.svg" %} {{ site.data.i18n[page.language].home.contact.form.submit }}
        </button>
      </div>
    </div>
  </div>

  <div class="form-sent">
    <div class="title">
        {{ site.data.i18n[page.language].home.contact.form_sent.text }}
    </div>
  </div>

  <div class="form-error">
    <div class="text">
      <p>
        {{ site.data.i18n[page.language].home.contact.form_error.text }}
      </p>
    </div>
  </div>
</form>
