<footer class="footer">
  <div class="container">
    <div class="copyright">
      &copy; Assaf Granit 2018
    </div>

    <div class="credits">
      Photography by Merav Ben Loulou & Gil Aviram
    </div>
  </div>
</footer>
