<header class="header">
  <div class="container">
    <div class="hamburger">
      <div class="line line-1"></div>
      <div class="line line-2"></div>
      <div class="line line-3"></div>
    </div>

    <div class="logo">
      <a href="#hero">
        {% include image.html src="logo-header.svg" alt="Assaf Granit" width="112" height="41" %}
      </a>
    </div>

    <div class="menu">
      <nav role="navigation">
        <ul>
          <li class="menu-item --active"><a href="#about">About</a></li>
          <li class="menu-item"><a href="#lectures-and-workshops">Lectures + Workshops</a></li>
          <li class="menu-item"><a href="#restaurants">Restaurants</a></li>
          <li class="menu-item"><a href="#tv">TV</a></li>
          <li class="menu-item"><a href="#projects">Special Projects</a></li>
          <li class="menu-item"><a href="#cookbooks">Cookbooks</a></li>
          <li class="menu-item"><a href="#awards">Awards + Press</a></li>
          <li class="menu-item"><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>

    <div class="languages">
      <nav role="navigation">
        <ul>
          <li class="menu-item {% if page.language == 'en' %}--active{% endif %}"><a href="/">EN</a></li>
          <li class="menu-item {% if page.language == 'he' %}--active{% endif %}"><a href="/he/">HE</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="header-pusher"></div>
