{% for item in site.data.i18n[page.language].popup %}
  <div id="{{ item.product.id }}" class="mfp-hide  popup">
    <div class="popup__title">
      <h2>{{ item.product.title }}</h2>
    </div>

    <div class="popup__teaser">
      <div class="title">
        <h3>Loading...</h3>
      </div>
      <div class="description">
        <p>
          Loading...
        </p>
      </div>
    </div>

    <div class="popup__contact">
      <section class="section  --contact">
        <div class="container">
          <div class="section__content">
            {% include contact.html category="lecture" action="https://hooks.zapier.com/hooks/catch/3145244/w0fdgz" %}
          </div>
        </div>
      </section>
    </div>
  </div>
{% endfor %}

{% for item in site.data.i18n[page.language].gallery %}
  <div id="gallery-{{ item.restaurant.name | slugify }}" class="popup  --gallery  --restaurants  --agripas" style="opacity: 0;">
    <div class="logo">
      {% include lazy_image.html src=item.restaurant.logo.url width=item.restaurant.logo.width height=item.restaurant.logo.height alt=item.restaurant.logo.alt %}
    </div>

    <div class="website">
      <a href="{{ item.restaurant.website }}" target="_blank" rel="noopener noreferrer" class="link  --white">
        {% include image.html src="cta-arrow-white.svg" width="26" height="11" %} Visit site
      </a>
    </div>

    <div class="navigation">
      <button type="button" class="gallery-prev">
        {% include image.html src="arrow-left-white.svg" %}
      </button>
      <button type="button" class="gallery-next">
        {% include image.html src="arrow-right-white.svg" %}
      </button>
    </div>

    <ul class="lightSlider">
        {% for image in item.restaurant.images %}
          <li
            data-thumb="{{ image.data_thumb }}"
            data-src="{{ image.data_src }}"
            class="item  --{{forloop.index}}"
          >
            {% include lazy_image.html src=image.image.url width="800" height="500" alt=image.image.alt %}
          </li>
        {% endfor %}
    </ul>
  </div>
{% endfor %}

<!-- https://www.facebook.com/pages/ליד-ה-מעדנייה-ליד-השוק/1730376803685945 -->
