@include jacket(non-critical) {
  .footer {
    background-color: $gray-10;
    @include m-x-spacer-(-$spacer-lg);
    @include p-x-spacer-($spacer-lg);
    @include p-y-spacer-($spacer-md);

    .container {
      max-width: 1600px;
      text-align: center;

      @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        direction: ltr;
      }
    }

    .copyright {
      @include size--base-0;
      @include font--primary-semibold;
      color: $blue-90;
      @include m-b-spacer-($spacer-md);

      @include breakpoint(md) {
        flex-grow: 1;
        @include m-b-spacer-($spacer-none);
      }
    }

    .credits {
      @include size--base-0;
      @include font--primary-semibold;
      color: $blue-90;
    }
  }
}
