$d-header-size: 80px;
$m-header-size: 60px;

@include jacket(critical) {
  .header {
    direction: ltr !important;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $m-header-size;
    z-index: 99997;
    display: inline;
    user-select: none;

    @include breakpoint(sm) {
      height: $d-header-size;
      @include p-x-spacer-($spacer-lg);
    }

    .container {
      height: $m-header-size;

      @include breakpoint(sm) {
        height: $d-header-size;
      }

      @include breakpoint(lg) {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1600px;
      }
    }

    .hamburger {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      z-index: 2;
      cursor: pointer;

      @include breakpoint(lg) {
        display: none;
      }

      .line {
        display: block;
        width: 20px;
        height: 2px;
        background: $action-color;
        border-radius: 5px;
        transition: transform $base-duration $base-timing;

        &.line-1 {
          margin-bottom: 4px;
        }

        &.line-2 {
          margin-bottom: 4px;
        }
      }
    }

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 0;

      @include breakpoint(lg) {
        position: static;
        transform: none;
      }
    }

    .menu,
    .languages {
      ul {
        li {
          display: inline-block;
          vertical-align: middle;
          text-transform: uppercase;
          letter-spacing: 2px;
          @include size--base-0;
          @include font--primary-semibold;

          @include breakpoint(lg) {
            letter-spacing: 0.5px;
          }

          @include breakpoint(xl) {
            letter-spacing: 2px;
          }
        }
      }
    }

    .menu {
      display: none;

      @include breakpoint(lg) {
        display: block;
        flex-grow: 1;
        text-align: center;
      }

      ul {
        li {
          @include m-r-spacer-($spacer-md, true);
          @include breakpoint(lg) {
            @include p-r-spacer-($spacer-xs, true);
          }
          @include breakpoint(xl) {
            @include m-r-spacer-($spacer-lg, true);
            @include p-r-spacer-($spacer-none, true);
          }

          &:last-child {
            @include m-r-spacer-($spacer-none, true);
          }
        }
      }
    }

    .languages {
      text-align: right;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);

      @include breakpoint(lg) {
        position: static;
        transform: none;
      }

      ul {
        li {
          @include m-l-spacer-($spacer-sm, true);

          a {
            color: rgba($action-color, 0.65);
          }
        }

        li.--active {
          a {
            color: rgba($action-color, 1);
          }
        }
      }
    }
  }

  .header.--scrolled-away {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  }

  .header.--open {
    .hamburger {
      .line {
        &.line-1 {
          transform: translateY(4px) rotate(-45deg);
        }

        &.line-2 {
          opacity: 0;;
        }

        &.line-3 {
          transform: translateY(-8px) rotate(45deg);
        }
      }
    }

    .menu {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #ffffff;
      z-index: 1;

      @include breakpoint(lg) {
        display: block;
        position: static;
        background: transparent;
      }

      ul {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include breakpoint(lg) {
          position: static;
          display: block;
        }

        li {
          @include size--base-2;
          @include m-y-spacer-($spacer-sm);
          @include m-r-spacer-($spacer-none, true);

          @include breakpoint(lg) {
            @include m-r-spacer-($spacer-lg, true);
          }
        }
      }
    }
  }

  .header-pusher {
    height: $m-header-size;

    @include breakpoint(lg) {
      height: $d-header-size;
    }
  }

  .anchor {
    position: relative;
    top: -$m-header-size;

    @include breakpoint(lg) {
      top: -$d-header-size;
    }
  }
}
