@include jacket(critical) {
  body {
    @include p-x-spacer-($spacer-lg);
    direction: $direction;
    text-align: $start-direction;
  }

  .section {
    max-width: 1600px;
    margin-#{$start-direction}: auto;
    margin-#{$end-direction}: auto;
  }

  .container {
    @include grid-container;
    max-width: 1180px;
    width: 100%;
    margin-#{$start-direction}: auto;
    margin-#{$end-direction}: auto;
  }

  .clamp {
    p {
      margin-bottom: 0;
    }
  }

  .animated {
    opacity: 0;
  }
}

@mixin overlay($zIndex, $opacity: 0.3) {
  position: absolute;
  z-index: $zIndex;
  top: 0;
  #{$end-direction}: 0;
  bottom: 0;
  #{$start-direction}: 0;
  background-color: rgba($black, $opacity);
}
