<script type='application/ld+json'>
{
  "@context": "http://schema.org/",
  "@type": "Person",
  "additionalName": "{{ site.data.i18n[page.language].site.name }}",
  "jobTitle": "Chef"
}
</script>

<div id="hero" class="anchor"></div>
<section class="section  --hero  --gallery">
  <div class="hero">
    <div class="carousel  --fade">
      <div class="item  item--1">
        <div class="item__show  lazy-background" style="background-image: url('https://res.cloudinary.com/dqdq2mu2e/image/upload/w_0.1,e_blur:400/assafgranit/hero/hero_image_01.jpg');">
          {% include image.html src="hero/hero_image_01_375.jpg" alt="Assaf Granit" class="item__hide" width="1600" height="800" %}
        </div>
      </div>
    </div>

    <div class="logo animated" data-animation="fadeInDown">
      {% include image.html src="hero-logo-lockup_3x.png" width="508" height="77" alt="Assaf Granit" class="logo--1" %}

      {% include image.html src="logo-header-white.svg" width="132" height="49" alt="Assaf Granit" class="logo--2" %}
    </div>

    <div class="about">
      <a href="/#about">
        {% include image.html src="cta-arrow-white.svg" width="26" height="11" %} {{ site.data.i18n[page.language].home.hero.about_me }}
      </a>
    </div>
  </div>
</section>

<div id="about" class="anchor"></div>
<section class="section  --about">
  <div class="container">
    <div class="section__header  --split">
      <div class="title animated" data-animation="fadeInDown">
        <h2>{{ site.data.i18n[page.language].home.about.title }}</h2>
      </div>
    </div>
    <div class="section__content">
      <p id="about-me" class="clamp  animated" data-animation="fadeInDown" data-clamp='{"clamp": 10, "truncationChar": "&nbsp;"}'>
        {{ site.data.i18n[page.language].home.about.text }}
      </p>
      <div class="more">
        <a href="#about-me" class="clamp-toggle" data-toggle="#about-me" data-more="{{ site.data.i18n[page.language].home.about.more }}" data-less="{{ site.data.i18n[page.language].home.about.less }}">{{ site.data.i18n[page.language].home.about.more }}</a>
      </div>
    </div>
  </div>
</section>

<section
  class="section  --cover  --cover-1  lazy-background"
  style="background-image: url('https://res.cloudinary.com/dqdq2mu2e/image/upload/w_0.1,e_blur:400/assafgranit/covers/inter_image_desktop_01.jpg');"
  data-stellar-background-ratio="0.5"
>
</section>

<div id="lectures-and-workshops" class="anchor"></div>
<section class="section  --lectures-and-workshops">
  <div class="container">
    <div class="section__header">
      <div class="title  animated" data-animation="fadeInDown">
        <h2>{{ site.data.i18n[page.language].home.lectures_and_workshops.title }}</h2>
      </div>
      <div class="tagline  animated" data-animation="fadeInDown">
        {{ site.data.i18n[page.language].home.lectures_and_workshops.tagline }}
      </div>
    </div>
    <div class="section__content">
      <div class="lectures-and-workshops">
        {% for item in site.data.i18n[page.language].home.lectures_and_workshops.list %}
          <div class="item  --{{ forloop.index }}  animated {% if forloop.index > 3 %} --not-loaded{% endif %}" data-animation="fadeInDown">
            <div class="title">
              <h3>{{ item.title }}</h3>
            </div>
            <div class="description">
              <p>
                {{ item.description }}
              </p>
            </div>
            <!-- <div class="quote">
              <blockquote>
                Quote goes here
              </blockquote>
            </div>
            <div class="author">
              Author
            </div> -->
            <div class="more">
              <a href="#book-{{ item.type }}" class="open-popup  --no-scrolling" data-item=".lectures-and-workshops .item.--{{ forloop.index }}">
                {% include image.html src="cta-arrow-blue.svg" alt="Book this lecture" %} {{ item.more }}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="load-more  show-on-mobile  hide-on-tablet-portrait  hide-on-tablet-landscape   hide-on-desktop">
        <a href="#">
          + Load more lectures & workshops
        </a>
      </div>
    </div>
  </div>
</section>

<div id="restaurants" class="anchor"></div>
<section class="section  --restaurants  --gallery">
  <div class="container">
    <div class="section__header">
      <div class="title  animated" data-animation="fadeInDown">
        <h2>{{ site.data.i18n[page.language].home.restaurants.title }}</h2>
      </div>
      <div class="tagline  animated" data-animation="fadeInDown">
        {{ site.data.i18n[page.language].home.restaurants.tagline }}
      </div>
    </div>
    <div class="section__content">
      <div class="show-on-mobile hide-on-tablet-portrait  hide-on-tablet-landscape  hide-on-desktop">
        <div class="carousel  --slide  --center-mode  restaurants" data-slick='{ "rtl": {% if page.language == 'he' %}true{% else %}false{% endif %}, "mobileFirst": true, "arrows": false, "dots": true, "slidesToShow": 1, "slidesToScroll": 1, "centerMode": true, "centerPadding": "50px", "focusOnSelect": true }'>
          {% for item in site.data.i18n[page.language].home.restaurants.list %}
            <div>
              <a href="#gallery-{{ item.id | slugify }}" class="open-gallery  --no-scrolling">
                <div class="item  item--{{ forloop.index }}  animated" data-animation="fadeInDown">
                  <div class="item__overlay"></div>
                  <div class="item__cover">
                    {% include image.html src=item.cover.url width=item.cover.width height=item.cover.height alt=item.cover.alt %}
                  </div>
                  <div class="item__logo">
                    {% include image.html src=item.logo.url width=item.logo.width height=item.logo.height alt=item.logo.alt %}
                  </div>
                  <div class="item__name">
                    {{ item.name }}
                  </div>
                  <div class="item__location">
                    {{ item.location }}
                  </div>
                  <div class="item__website">
                    <a href="{{ item.website }}" target="_blank" rel="noopener noreferrer" class="link  --white">
                      {% include image.html src="cta-arrow-white.svg" width="26" height="11" %} Visit site
                    </a>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="show-on-tablet-portrait  show-on-tablet-landscape  show-on-desktop  hide-on-mobile">
        <div class="restaurants  grid">
          <div class="gutter"></div>

          {% for item in site.data.i18n[page.language].home.restaurants.list %}
            <div>
              <a href="#gallery-{{ item.id | slugify }}" class="open-gallery  --no-scrolling">
                <div class="item  item--{{ forloop.index }}  animated" data-animation="fadeInDown">
                  <div class="item__overlay"></div>
                  <div class="item__cover">
                    {% include lazy_image.html src=item.cover.url width=item.cover.width height=item.cover.height alt=item.cover.alt %}
                  </div>
                  <div class="item__logo">
                    {% include lazy_image.html src=item.logo.url width=item.logo.width height=item.logo.height alt=item.logo.alt %}
                  </div>
                  <div class="item__name">
                    {{ item.name }}
                  </div>
                  <div class="item__location">
                    {{ item.location }}
                  </div>
                  {% if item.website %}
                    <div class="item__website">
                      <a href="{{ item.website }}" target="_blank" rel="noopener noreferrer" class="link  --white">
                        {% include image.html src="cta-arrow-white.svg" width="26" height="11" %} Visit site
                      </a>
                    </div>
                  {% endif %}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="section  --cover  --cover-2  lazy-background"
  style="background-image: url('https://res.cloudinary.com/dqdq2mu2e/image/upload/w_0.1,e_blur:400/assafgranit/covers/inter_image_desktop_02.jpg');"
  data-stellar-background-ratio="0.5"
>
</section>

<div id="tv" class="anchor"></div>
<section class="section  --tv  --gallery">
  <div class="container">
    <div class="section__header">
      <div class="title  animated" data-animation="fadeInDown">
        <h2>{{ site.data.i18n[page.language].home.tv.title }}</h2>
      </div>
    </div>
    <div class="section__content">
      <div class="carousel  --slide  tv" data-slick='{"rtl": {% if page.language == 'he' %}true{% else %}false{% endif %}, "mobileFirst": true, "arrows": false, "dots": true, "slidesToShow": 1, "slidesToScroll": 1, "centerMode": true, "centerPadding": "50px", "responsive": [{ "breakpoint": 768, "settings": { "centerPadding": "150px" }}, { "breakpoint": 1023, "settings": { "centerPadding": "330px" }}, { "breakpoint": 1179, "settings": "unslick"}]}'>
        {% for item in site.data.i18n[page.language].home.tv.list %}
          <div class="item  --{{forloop.index}}  animated" data-animation="fadeInDown">
            <div class="image">
              {% include image.html src=item.image.url width="380" height="300" alt=item.image.alt %}
            </div>
            <div class="title">
              <h3>{{ item.title }}</h3>
            </div>
            <div class="description">
              <p id="tv-{{forloop.index}}" class="clamp" data-clamp='{"clamp": 3, "truncationChar": "&nbsp;"}'>
                {{ item.description }}
              </p>
            </div>
            <div class="more">
              <a href="#tv-{{ forloop.index }}" class="clamp-toggle" data-toggle="#tv-{{ forloop.index }}" data-more="{{ site.data.i18n[page.language].home.tv.more }}" data-less="{{ site.data.i18n[page.language].home.tv.less }}">{{ site.data.i18n[page.language].home.tv.more }}</a>
              <a href="{{ item.promo }}" target="_blank" rel="noopener noreferrer" class="promo open-youtube-popup">{% include image.html src="play.svg" alt="{{ site.data.i18n[page.language].home.tv.watch }}" %} {{ site.data.i18n[page.language].home.tv.watch }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<div id="projects" class="anchor"></div>
<section class="section  --projects  --gallery  --spacing-top-0">
  <div class="container">
    <div class="section__header">
      <div class="title  animated" data-animation="fadeInDown">
        <h2>{{ site.data.i18n[page.language].home.projects.title }}</h2>
      </div>
    </div>
    <div class="section__content">
      <div class="carousel  --slide  projects  --center-mode" data-slick='{ "rtl": {% if page.language == 'he' %}true{% else %}false{% endif %}, "mobileFirst": true, "arrows": false, "dots": true, "slidesToShow": 1, "slidesToScroll": 1, "centerMode": true, "centerPadding": "50px", "responsive": [{ "breakpoint": 768, "settings": { "centerPadding": "80px" }}, { "breakpoint": 1023, "settings": { "centerPadding": "140px" }}, { "breakpoint": 1179, "settings": { "centerPadding": "210px" }}] }'>
        {% for item in site.data.i18n[page.language].home.projects.list %}
          <div class="item  --{{forloop.index}}  animated" data-animation="fadeInDown">
            <div class="image">
              {% include image.html src=item.image.url width="780" height="350" alt=item.image.alt %}
            </div>
            <div class="title">
              <h3>{{ item.title }}</h3>
            </div>
            <div class="description">
              <p>
                {{ item.description }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section
  class="section  --cover  --cover-3  lazy-background"
  style="background-image: url('https://res.cloudinary.com/dqdq2mu2e/image/upload/w_0.1,e_blur:400/assafgranit/covers/inter_image_desktop_03.jpg');"
  data-stellar-background-ratio="0.5"
>
</section>

<div id="cookbooks" class="anchor"></div>
<section class="section  --cookbooks">
  <div class="container">
    <div class="section__header">
      <div class="title  animated" data-animation="fadeInDown">
        <h2>{{ site.data.i18n[page.language].home.cookbooks.title }}</h2>
      </div>
    </div>
    <div class="section__content">
      <div class="cookbooks">
        {% for item in site.data.i18n[page.language].home.cookbooks.list %}
          <div class="item --{{forloop.index}}  animated" data-animation="fadeInDown">
            <div class="image">
              {% include lazy_image.html src=item.image.url width=item.image.width height=item.image.height alt=item.image.alt %}
            </div>
            <div class="title">
              <h3>{{ item.title }}</h3>
            </div>
            <div class="description">
              <p>
                {{ item.description }}
              </p>
            </div>
            <div class="more">
              <a href="#order-cookbook" class="open-popup  --no-scrolling" data-item=".cookbooks .item.--{{forloop.index}}">
                {% include image.html src="cta-arrow-blue.svg" %} {{ item.more }}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section
  class="section  --cover  --cover-4  lazy-background"
  style="background-image: url('https://res.cloudinary.com/dqdq2mu2e/image/upload/w_0.1,e_blur:400/assafgranit/covers/inter_image_desktop_04.jpg');"
  data-stellar-background-ratio="0.5"
>
</section>

<div id="awards" class="anchor"></div>
<section class="section  --awards  --gallery">
  <div class="container">
    <div class="section__header">
      <div class="title  animated" data-animation="fadeInDown">
        <h2>{{ site.data.i18n[page.language].home.awards.title }}</h2>
      </div>
    </div>
    <div class="section__content">
      <div class="carousel  --slide  awards" data-slick='{ "rtl": {% if page.language == 'he' %}true{% else %}false{% endif %}, "mobileFirst": true, "arrows": true, "dots": false, "responsive": [{ "breakpoint": 768, "settings": { "slidesToShow": 1, "slidesToScroll": 1 }}, { "breakpoint": 1023, "settings": { "slidesToShow": 2, "slidesToScroll": 2 }}, { "breakpoint": 1179, "settings": { "slidesToShow": 3, "slidesToScroll": 3 }}] }'>
        {% for item in site.data.i18n[page.language].home.awards.list %}
          <div class="item  --{{forloop.index}}  animated" data-animation="fadeInDown">
            <div class="restaurant">
              {% include image.html src=item.restaurant.image.url width="116" height="50" alt=item.image.restaurant.alt %}
            </div>
            <div class="quote">
              <blockquote>
                {{ item.award.quote }}
              </blockquote>
            </div>
            <div class="year">
                {{ item.award.year }}
            </div>
            <div class="logo">
              {% include image.html src=item.award.logo.url width=item.award.logo.width height=item.award.logo.height alt=item.award.logo.alt %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<div id="press" class="anchor"></div>
<section class="section  --press  --gallery">
  <div class="container">
    <div class="section__header">
      <div class="title  animated" data-animation="fadeInDown">
        <h2>{{ site.data.i18n[page.language].home.press.title }}</h2>
      </div>
    </div>
    <div class="section__content">
      <div class="carousel  --slide  press" data-slick='{ "rtl": {% if page.language == 'he' %}true{% else %}false{% endif %}, "mobileFirst": true, "arrows": true, "dots": false, "responsive": [{ "breakpoint": 768, "settings": { "slidesToShow": 1, "slidesToScroll": 1 }}, { "breakpoint": 1023, "settings": { "slidesToShow": 2, "slidesToScroll": 2 }}, { "breakpoint": 1179, "settings": { "slidesToShow": 3, "slidesToScroll": 3 }}] }'>
          {% for item in site.data.i18n[page.language].home.press.list %}
            <div class="item  --{{forloop.index}}  animated" data-animation="fadeInDown">
              <div class="restaurant">
                {% include image.html src=item.restaurant.image.url width=item.restaurant.image.width height=item.restaurant.image.height alt=item.restaurant.image.alt %}
              </div>
              <div class="quote">
                <a href="{{ item.restaurant.press.url }}" target="_blank" rel="noopener noreferrer">
                  <blockquote cite="{{ item.restaurant.press.url }}">
                    {{ item.restaurant.press.quote }}
                  </blockquote>
                </a>
              </div>
              <div class="author">
                {{ item.restaurant.press.author }}
              </div>
              <div class="logo">
                {% include image.html src=item.restaurant.press.logo.url width=item.restaurant.press.logo.width height=item.restaurant.press.logo.height alt=item.restaurant.press.logo.alt %}
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
</section>

<div id="contact" class="anchor"></div>
<section class="section  --contact">
  <div class="container">
    <div class="section__header">
      <div class="title  animated" data-animation="fadeInDown">
        <h2>{{ site.data.i18n[page.language].home.contact.title }}</h2>
      </div>
    </div>
    <div class="section__content">
      {% include contact.html category="none" action="https://hooks.zapier.com/hooks/catch/3145244/w0ktyh" %}
    </div>
  </div>
</section>
