.view.--homepage {
  @include jacket(critical) {
    .section.--hero.--gallery {
      .hero {
        position: relative;
        direction: ltr;

        .carousel {
          .item {
            .item__show {
              background-position: center;
              background-size: cover;
              height: 300px;

              @include breakpoint(sm) {
                height: 450px;
                background-position: center;
              }

              @include breakpoint(md) {
                height: 600px;
                background-position: center;
              }

              @include breakpoint(lg) {
                height: 800px;
                background-position: left top;
                background-size: auto;
              }

              img {
                max-height: 300px;

                @include breakpoint(md) {
                  max-height: 600px;
                }

                @include breakpoint(lg) {
                  max-height: 800px;
                }
              }
            }

            .item__hide {
              display: none;

              @include breakpoint(lg) {
                display: block;
                opacity: 0;
              }
            }
          }

          .item.item--1 {
            .item__show {
              background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_375.jpg");
              background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_375.jpg") 1x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_375_2x.jpg") 2x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_375_3x.jpg") 3x);
              background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_375.jpg") 1x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_375_2x.jpg") 2x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_375_3x.jpg") 3x);

              @include breakpoint(sm) {
                background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_768.jpg");
                background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_768.jpg") 1x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_768_2x.jpg") 2x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_768_3x.jpg") 3x);
                background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_768.jpg") 1x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_768_2x.jpg") 2x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_768_3x.jpg") 3x);
              }

              @include breakpoint(md) {
                background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_1024.jpg");
                background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_1024.jpg") 1x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_1024_2x.jpg") 2x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_1024_3x.jpg") 3x);
                background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_1024.jpg") 1x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_1024_2x.jpg") 2x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_1024_3x.jpg") 3x);
              }

              @include breakpoint(lg) {
                background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01.jpg");
                background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01.jpg") 1x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_2x.jpg") 2x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_3x.jpg") 3x);
                background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01.jpg") 1x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_2x.jpg") 2x,url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/hero/hero_image_01_3x.jpg") 3x);
              }
            }
          }

          .slick-dots {
            position: absolute;
            bottom: 10px;

            @include breakpoint(md) {
              bottom: 20px;
            }

            li {
              button {
                background-color: $white;
                opacity: 0.5;
                width: 12px;
                height: 12px;
                transform: scale(0.85);
              }

              button:hover {
                background-color: $white;
                transform: scale(1);
                opacity: 0.85;
              }

              &.slick-active button {
                background-color: $white;
                transform: scale(1);
                opacity: 0.85;
              }
            }
          }

          .slick-arrow {
            display: none !important;
          }
        }

        .logo {
          display: none;

          @include breakpoint(sm) {
            display: block;
            position: absolute;
            top: 155px;
            left: 40px;
          }

          @include breakpoint(md) {
            top: 240px;
            left: 40px;
          }

          @include breakpoint(lg) {
            top: 200px;
            left: 120px;
          }

          .logo--1 {
            @include breakpoint(sm) {
              display: block;
              max-width: 55%;
              height: auto;
            }

            @include breakpoint(md) {
              max-width: 70%;
              height: auto;
            }

            @include breakpoint(lg) {
              max-width: 100%;
            }
          }

          .logo--2 {
            @include breakpoint(sm) {
              display: block;
              position: relative;
              top: 10px;
              left: 126px;
              height: auto;
              width: 70px;
            }

            @include breakpoint(md) {
              top: 10px;
              left: 219px;
              height: auto;
              width: 120px;
            }

            @include breakpoint(lg) {
              max-width: 100%;
              top: 10px;
              left: 312px;
              width: auto;
            }
          }
        }

        .about {
          display: none;
          text-transform: uppercase;
          letter-spacing: 0.01em;
          @include size--base-0;
          @include font--primary-semibold;

          @include breakpoint(sm) {
            display: block;
            position: absolute;
            top: 255px;
            left: 100px;
          }

          @include breakpoint(md) {
            top: 400px;
            left: 100px;
          }

          @include breakpoint(lg) {
            top: 400px;
            left: 300px;
          }

          a {
            color: rgba($white, 1);

            &:hover {
              color: rgba($white, 0.65);
            }

            img {
              @include m-r-spacer-($spacer-sm, true);
            }
          }
        }
      }
    }
  }

  @include jacket(non-critical) {
    .section.--about {

      .section__header {
        @include breakpoint(lg) {
          @include grid-column(5);
          text-align: center;
        }

        .title {
          @include breakpoint(lg) {
            margin-top: -20px;
          }
        }
      }

      .section__content {
        @include breakpoint(lg) {
          @include grid-column(7);
          position: relative;
          left: -40px;
        }

        .more {
          @include m-t-spacer-($spacer-lg);
        }
      }
    }

    .section.--cover.--cover-1 {
      background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_01.jpg");
      background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_01.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_01_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_01_3x.jpg") 3x);
      background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_01.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_01_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_01_3x.jpg") 3x);

      @include breakpoint(sm) {
        background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_01.jpg");
        background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_01.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_01_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_01_3x.jpg") 3x);
        background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_01.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_01_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_01_3x.jpg") 3x);
      }

      @include breakpoint(md) {
        background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_01.jpg");
        background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_01.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_01_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_01_3x.jpg") 3x);
        background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_01.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_01_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_01_3x.jpg") 3x);
      }

      @include breakpoint(lg) {
        background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_01.jpg");
        background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_01.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_01_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_01_3x.jpg") 3x);
        background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_01.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_01_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_01_3x.jpg") 3x);
      }
    }

    .section.--restaurants {
      max-width: none;

      @include breakpoint(md) {
        @include m-t-spacer-(-$spacer-2xl);
        @include grid-container;
      }

      @include breakpoint(lg) {
        @include m-t-spacer-(-$spacer-3xl);
      }

      .restaurants {
        @include breakpoint(mobile-only) {
          @include m-x-spacer-(-$spacer-lg);
        }

        .item {
          float: $start-direction;
          position: relative;
          overflow: hidden;
          min-width: 220px;
          width: 100%;
          height: 200px;

          @include breakpoint(sm) {
            min-width: 160px;
          }

          @include breakpoint(lg) {
            min-width: 220px;
          }

          .item__overlay {
            @include overlay(2);
            @include overlay(2, 0.6);
            transition: background 3*$base-duration $base-timing;

            @include breakpoint(sm) {
              @include overlay(2);
            }
          }

          .item__cover {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 50%;
            #{$start-direction}: 50%;
            transform: translateX(-50%*$transform-direction) translateY(-50%) scale(1.15);
            transition: transform 3*$base-duration $base-timing;

            @include breakpoint(sm) {
              transform: translateX(-50%*$transform-direction) translateY(-50%);
            }

            img {
              max-width: none;
              position: absolute;
              z-index: 1;
              top: 50%;
              #{$start-direction}: 50%;
              transform: translateX(-50%*$transform-direction) translateY(-50%);
            }
          }

          .item__logo {
            position: absolute;
            z-index: 3;
            top: 50%;
            #{$start-direction}: 50%;
            transform: translateX(-50%*$transform-direction) translateY(-50%);
            transition: margin 3*$base-duration $base-timing;
            margin-top: -50px;

            @include breakpoint(sm) {
              margin-top: 0;
            }

            img {
              max-height: 70px;
              width: auto;

              @include breakpoint(lg) {
                max-height: auto;
              }
            }
          }

          .item__name,
          .item__location,
          .item__website {
            position: absolute;
            z-index: 3;
            top: 50%;
            #{$start-direction}: 50%;
            width: 100%;
            transform: translateX(-50%*$transform-direction) translateY(-50%);
            opacity: 1;
            transition: opacity 3*$base-duration $base-timing;
            color: $white;
            line-height: 1;
            text-align: center;
            @include size--base-0;

            @include breakpoint(sm) {
              opacity:  0;
            }
          }

          .item__name {
            @include size--base-2;
            @include font--primary-semibold;
            margin-top: 10px;
          }

          .item__location {
            @include font--primary-regular;
            margin-top: 40px;
          }

          .item__website {
            letter-spacing: 0.3px;
            text-transform: uppercase;
            @include font--primary-semibold;
            margin-top: 80px;

            img {
              margin-#{$end-direction}: 15px;
              display: inline-block;
              transform: scale($transform-direction);
            }
          }
        }

        .item:hover {
          @include breakpoint(lg) {
            .item__overlay {
              @include overlay(2, 0.6);
            }

            .item__cover {
              transform: translateX(-50%*$transform-direction) translateY(-50%) scale(1.15);
            }

            .item__name,
            .item__location,
            .item__website {
              opacity: 1;
            }

            .item__logo {
              margin-top: -50px;
            }
          }
        }

        .item.item--1 {
          @include breakpoint(sm) {
            width: 41%;
            height: 193px;
          }

          @include breakpoint(md) {
            height: 261px;
          }

          @include breakpoint(lg) {
            height: 315px;
          }
        }

        .item.item--2 {
          @include breakpoint(sm) {
            width: 21%;
            height: 171px;
          }

          @include breakpoint(md) {
            height: 232px;
          }

          @include breakpoint(lg) {
            height: 280px;
          }
        }

        .item.item--3 {
          @include breakpoint(sm) {
            width: 33%;
            height: 288px;
          }

          @include breakpoint(md) {
            height: 390px;
          }

          @include breakpoint(lg) {
            height: 470px;
          }
        }

        .item.item--4 {
          @include breakpoint(sm) {
            width: 41%;
            height: 184px;
          }

          @include breakpoint(md) {
            height: 249px;
          }

          @include breakpoint(lg) {
            height: 300px;
          }
        }

        .item.item--5 {
          @include breakpoint(sm) {
            width: 21%;
            height: 205px;
          }

          @include breakpoint(md) {
            height: 278px;
          }

          @include breakpoint(lg) {
            height: 335px;
          }
        }

        .item.item--6 {
          @include breakpoint(lg) {
            .item__name {
              margin-top: 35px;
            }

            .item__location {
              margin-top: 60px;
            }

            &:hover {
              .item__logo {
                margin-top: -40px;
              }
            }
          }

          @include breakpoint(sm) {
            width: 33%;
            height: 147px;
          }

          @include breakpoint(md) {
            height: 199px;
          }

          @include breakpoint(lg) {
            height: 240px;
          }
        }

        .item.item--7 {
          @include breakpoint(sm) {
            width: 33.5%;
            height: 171px;
          }

          @include breakpoint(md) {
            height: 232px;
          }

          @include breakpoint(lg) {
            height: 280px;
          }
        }

        .item.item--8 {
          @include breakpoint(sm) {
            width: 28.5%;
            height: 171px;
          }

          @include breakpoint(md) {
            height: 232px;
          }

          @include breakpoint(lg) {
            height: 280px;
          }
        }

        .item.item--9 {
          @include breakpoint(lg) {
            .item__name {
              margin-top: 25px;
            }

            .item__location {
              margin-top: 50px;
            }

            .item__website {
              margin-top: 90px;
            }
          }

          @include breakpoint(sm) {
            width: 33%;
            height: 165px;
          }

          @include breakpoint(md) {
            height: 223px;
          }

          @include breakpoint(lg) {
            height: 270px;
          }
        }

        .item.item--10 {
          @include breakpoint(sm) {
            width: 38.5%;
            height: 217px;
          }

          @include breakpoint(md) {
            height: 294px;
          }

          @include breakpoint(lg) {
            height: 350px;
          }
        }

        .item.item--11 {
          @include breakpoint(sm) {
            width: 23.5%;
            height: 217px;
          }

          @include breakpoint(md) {
            height: 296px;
          }

          @include breakpoint(lg) {
            height: 350px;
          }
        }

        .item.item--12 {
          @include breakpoint(lg) {
            .item__name {
              margin-top: 25px;
            }

            .item__location {
              margin-top: 50px;
            }

            .item__website {
              margin-top: 90px;
            }
          }

          @include breakpoint(sm) {
            width: 33%;
            height: 166px;
          }

          @include breakpoint(md) {
            height: 225px;
          }

          @include breakpoint(lg) {
            height: 265px;
          }
        }

        .item.item--13 {
          .item__logo {
            width: 100px;
            height: 70px;

            img {
              width: 100px;
              height: 70px;
            }
          }

          .item__website {
            margin-top: 70px;
          }

          @include breakpoint(lg) {
            .item__logo {
              width: auto;
              height: auto;

              img {
                width: auto;
                height: auto;
              }
            }
          }

          &:hover {
            @include breakpoint(lg) {
              .item__logo {
                width: 100px;
                height: 70px;

                img {
                  width: 100px;
                  height: 70px;
                }
              }
            }
          }
        }
      }
    }

    .section.--cover.--cover-2 {
      background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_02.jpg");
      background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_02.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_02_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_02_3x.jpg") 3x);
      background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_02.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_02_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_02_3x.jpg") 3x);

      @include breakpoint(sm) {
        background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_02.jpg");
        background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_02.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_02_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_02_3x.jpg") 3x);
        background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_02.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_02_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_02_3x.jpg") 3x);
      }

      @include breakpoint(md) {
        background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_02.jpg");
        background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_02.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_02_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_02_3x.jpg") 3x);
        background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_02.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_02_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_02_3x.jpg") 3x);
      }

      @include breakpoint(lg) {
        background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_02.jpg");
        background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_02.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_02_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_02_3x.jpg") 3x);
        background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_02.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_02_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_02_3x.jpg") 3x);
      }
    }

    .section.--tv {
      @include breakpoint(md) {
        max-width: none;
      }

      .tv {
        @include m-x-spacer-(-$spacer-lg);

        @include breakpoint(lg) {
          @include grid-container;
          @include grid-collapse;
        }

        &.carousel {
          &:before,
          &:after {
            content: "";

            @include breakpoint(sm) {
              display: block;
              position: absolute;
              top: 0;
              width: 200px;
              height: 100%;
              z-index: 1;
            }

            @include breakpoint(md) {
              width: 330px;
            }

            @include breakpoint(lg) {
              display: none;
            }
          }

          &:before {
            #{$start-direction}: -1px;
            background-image: linear-gradient(to $end-direction, #ffffff, rgba(255, 255, 255, 0));
          }

          &:after {
            #{$end-direction}: -1px;
            background-image: linear-gradient(to $start-direction, #ffffff, rgba(255, 255, 255, 0));
          }
        }

        .item {
          @include breakpoint(lg) {
            @include grid-column(4)
          }

          .description {
            max-width: 320px;
            margin-#{$start-direction}: auto;
            margin-#{$end-direction}: auto;

            @include breakpoint(lg) {
              margin-#{$start-direction}: 0;
              margin-#{$end-direction}: 0;
              min-height: 75px;
            }
          }

          .more {
            @include breakpoint(mobile-only) {
              @include m-x-spacer-(-$spacer-md);
            }
          }

          .promo {
            margin-#{$start-direction}: 20px;

            @include breakpoint(lg) {
              margin-#{$start-direction}: 40px;
            }
          }
        }

        .item.slick-slide {
          .title,
          .description,
          .more {
            opacity: 0;
            transition: opacity $base-duration $base-timing;

            @include breakpoint(lg) {
              opacity: 1;
            }
          }
        }

        .item.slick-active {
          .title,
          .description,
          .more {
            opacity: 1;

            @include breakpoint(lg) {
              opacity: 1;
            }
          }
        }
      }
    }

    .section.--projects {
      @include breakpoint(md) {
        max-width: none;
      }

      .projects {
        @include m-x-spacer-(-$spacer-lg);

        @include breakpoint(lg) {
          @include grid-container;
          @include grid-collapse;
        }

        &.carousel {
          &:before,
          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 50px;
            height: 100%;
            z-index: 1;

            @include breakpoint(lg) {
              width: 50px;
            }
          }

          &:before {
            #{$start-direction}: -1px;
            background-image: linear-gradient(to $end-direction, #ffffff, rgba(255, 255, 255, 0));
          }

          &:after {
            #{$end-direction}: -1px;
            background-image: linear-gradient(to $start-direction, #ffffff, rgba(255, 255, 255, 0));
          }
        }

        .item.slick-slide {
          transform-origin: 50% 15%;

          .title,
          .description,
          .more {
            opacity: 0;
            transition: opacity $base-duration $base-timing;

            @include breakpoint(lg) {
              opacity: 1;
            }
          }
        }

        .item.slick-active {
          .title,
          .description,
          .more {
            opacity: 1;

            @include breakpoint(lg) {
              opacity: 1;
            }
          }
        }
      }
    }

    .section.--cover.--cover-3 {
      background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_03.jpg");
      background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_03.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_03_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_03_3x.jpg") 3x);
      background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_03.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_03_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_03_3x.jpg") 3x);

      @include breakpoint(sm) {
        background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_03.jpg");
        background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_03.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_03_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_03_3x.jpg") 3x);
        background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_03.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_03_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_03_3x.jpg") 3x);
      }

      @include breakpoint(md) {
        background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_03.jpg");
        background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_03.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_03_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_03_3x.jpg") 3x);
        background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_03.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_03_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_03_3x.jpg") 3x);
      }

      @include breakpoint(lg) {
        background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_03.jpg");
        background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_03.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_03_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_03_3x.jpg") 3x);
        background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_03.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_03_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_03_3x.jpg") 3x);
      }
    }

    .section.--lectures-and-workshops {
      @include breakpoint(sm) {
        @include m-b-spacer-(-$spacer-2xl);
      }

      .section__header {
        .title {
          @include breakpoint(lg) {
            @include grid-column(4, $neat-grid-reverse);
            margin-top: -20px;
            text-align: left;

            @if ($direction == rtl) {
              position: relative;
              left: 70px;
            }
          }
        }

        .tagline {
          @include breakpoint(lg) {
            @include grid-column(8);
            text-align: $start-direction;
            max-width: 665px;
          }
        }
      }

      .section__content {
        text-align: $start-direction;

        .lectures-and-workshops {
          @include breakpoint(sm) {
            @include m-b-spacer-(-$spacer-2xl);
          }

          @include breakpoint(lg) {
            @include grid-container;
            @include grid-collapse;
          }

          .item {
            @include m-b-spacer-($spacer-2xl);

            @include breakpoint(sm) {
              @include grid-column(6);
              @include m-b-spacer-($spacer-2xl);
              @include p-r-spacer-($spacer-md);
            }

            @include breakpoint(lg) {
              @include grid-column(4);
            }

            &:last-child {
              @include m-b-spacer-($spacer-none);

              @include breakpoint(lg) {
                @include m-b-spacer-($spacer-none);
              }
            }

            .description {
              p {
                @include m-b-spacer-($spacer-none);

                @include breakpoint(lg) {
                  max-width: 300px;
                  min-height: 54px;
                }
              }
            }

            .quote {
              @include m-t-spacer-($spacer-md);

              blockquote {
                @include size--base-0;
                @include font--primary-regular-italic;
              }
            }

            .author {
              @include m-t-spacer-($spacer-md);
              @include size--base-0;
              @include font--primary-semibold;
            }

            .more {
              @include m-t-spacer-($spacer-lg);
            }
          }

          .item.--not-loaded {
            display: none;

            @include breakpoint(sm) {
              display: block;
            }
          }
        }

        .load-more {
          clear: $start-direction;
        }
      }
    }

    .section.--cookbooks {
      .section__content {
        @include breakpoint(sm) {
          text-align: $start-direction;
        }
      }

      .cookbooks {
        @include m-b-spacer-(-$spacer-2xl);
        @include breakpoint(sm) {
          @include grid-container;
          @include grid-collapse;
          max-width: 600px;
          margin-#{$start-direction}: auto;
          margin-#{$end-direction}: auto;
        }

        @include breakpoint(lg) {
          @include grid-container;
          @include grid-collapse;
          max-width: none;
        }

        .item {
          @include m-b-spacer-($spacer-2xl);

          @include breakpoint(md) {
            @include grid-column(12);
          }

          @include breakpoint(lg) {
            @include grid-column(6);
          }

          .image {
            @include p-b-spacer-($spacer-md);
            padding-bottom: 20px;

            @include breakpoint(sm) {
              @include p-b-spacer-($spacer-none);
              float: $start-direction;
              text-align: center;
              width: 220px;
            }

            @include breakpoint(lg) {
              text-align: $end-direction;
            }
          }

          .title {
            @include m-t-spacer-($spacer-none);

            @include breakpoint(sm) {
              margin-top: 5px;
              margin-#{$start-direction}: 240px;
              max-width: 315px;
            }
          }

          .description {
            @include breakpoint(sm) {
              margin-#{$start-direction}: 240px;
              max-width: 315px;
              height: 135px;
            }
          }

          .more {
            @include breakpoint(sm) {
              margin-#{$start-direction}: 240px;
              max-width: 315px;
            }
          }
        }
      }
    }

    .section.--cover.--cover-4 {
      background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_04.jpg");
      background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_04.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_04_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_04_3x.jpg") 3x);
      background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_04.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_04_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_375_04_3x.jpg") 3x);

      @include breakpoint(sm) {
        background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_04.jpg");
        background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_04.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_04_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_04_3x.jpg") 3x);
        background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_04.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_04_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_768_04_3x.jpg") 3x);
      }

      @include breakpoint(md) {
        background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_04.jpg");
        background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_04.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_04_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_04_3x.jpg") 3x);
        background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_04.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_04_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_1024_04_3x.jpg") 3x);
      }

      @include breakpoint(lg) {
        background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_04.jpg");
        background-image: -webkit-image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_04.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_04_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_04_3x.jpg") 3x);
        background-image: image-set(url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_04.jpg") 1x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_04_2x.jpg") 2x, url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/covers/inter_image_desktop_04_3x.jpg") 3x);
      }
    }

    .section.--awards {
      .awards {
        //@include grid-container;
        //@include grid-collapse;
        max-width: 280px;
        //margin-#{$start-direction}: auto;
        //margin-#{$end-direction}: auto;

        @include breakpoint(md) {
          max-width: 768px;
        }

        @include breakpoint(lg) {
          max-width: 1180px;
        }

        .item {
          text-align: center;
          @include p-x-spacer-($spacer-sm);

          .restaurant {
            @include m-b-spacer-($spacer-md);
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              display: inline;
              transform: scale(0.85);

              @include breakpoint(lg) {
                transform: scale(1);
              }
            }
          }

          .quote {
            @include m-b-spacer-($spacer-sm);
            min-height: 56px;

            blockquote {
              @include size--base-1;
              @include font--primary-regular-italic;
              color: $gray-50;

              a {
                @include size--base-1;
                @include font--primary-regular-italic;
                color: $gray-50;
                font-weight: 400;
              }
            }
          }

          .author {
            @include m-b-spacer-($spacer-lg);
            @include size--base-0;
            @include font--primary-regular-italic;
            color: $gray-50;
          }

          .year {
            font-weight: 600;
          }

          .logo {
            @include m-t-spacer-($spacer-md);
            height: 61px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              display: inline;
              transform: scale(0.75);
            }
          }
        }
      }
    }

    .section.--press {
      @include breakpoint(md) {
        @include m-t-spacer-(-$spacer-2xl);
      }

      @include breakpoint(lg) {
        @include m-t-spacer-(-$spacer-3xl);
      }

      .press {
        //@include grid-container;
        //@include grid-collapse;
        max-width: 280px;
        //margin-#{$start-direction}: auto;
        //margin-#{$end-direction}: auto;

        @include breakpoint(md) {
          max-width: 768px;
        }

        @include breakpoint(lg) {
          max-width: 1180px;
        }

        .item {
          text-align: center;
          @include p-x-spacer-($spacer-sm);

          .restaurant {
            @include m-b-spacer-($spacer-md);
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              display: inline;
              transform: scale(0.85);

              @include breakpoint(lg) {
                transform: scale(1);
              }
            }
          }

          .quote {
            @include m-b-spacer-($spacer-md);
            min-height: 84px;
            direction: ltr;

            a:hover {
              text-decoration: underline !important;
            }

            blockquote {
              @include size--base-1;
              @include font--primary-regular-italic;
              color: $gray-50;
            }
          }

          .author {
            @include size--base-0;
            color: $gray-50;
          }

          .logo {
            @include m-t-spacer-($spacer-xs);
            height: 61px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              display: inline;
              transform: scale(0.85);

              @include breakpoint(lg) {
                transform: scale(1);
              }
            }
          }
        }
      }
    }

    .section.--contact {
      @include breakpoint(md) {
        @include m-t-spacer-(-$spacer-2xl);
      }

      @include breakpoint(lg) {
        @include m-t-spacer-(-$spacer-3xl);
      }
    }
  }
}

@include jacket(non-critical) {
  .popup.--restaurants {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    max-height: 600px;
    direction: ltr;

    @include breakpoint(xxl) {
      max-width: 800px;
      max-height: 800px;
    }

    .logo {
      flex-grow: 1;
      text-align: left;

      @include breakpoint(mobile-only) {
        @include m-l-spacer-($spacer-lg, true);
      }

      img {
        max-width: 200px;
        max-height: 60px;
        width: auto;
      }
    }

    .website {
      line-height: 1;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      @include size--base-0;
      @include font--primary-semibold;

      @include breakpoint(mobile-only) {
        @include m-r-spacer-($spacer-lg, true);
      }

      img {
        margin-right: 15px;
      }
    }

    .lSSlideOuter {
      clear: both;
      margin-top: 30px;

      .lightSlider {
        height: 365px !important;

        @include breakpoint(xl) {
          height: 365px !important;
        }

        @include breakpoint(xxl) {
          height: 500px !important;
        }

        .lslide {
          img {
            height: auto;
          }
        }
      }

      .lSPager.lSGallery {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px !important;

        li {
          position: relative;

          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($black, 0);
            transition: background $base-duration $base-timing;
          }
        }

        li.active {
          &:after {
            background-color: rgba($black, 0.6);
          }
        }

        li:hover {
          border-radius: 0;

          &:after {
            background-color: rgba($black, 0.3);
          }
        }

        img {
          height: auto;
        }
      }
    }

    button.mfp-close {
      width: 24px;
      height: 24px;
      background-image: url("https://res.cloudinary.com/dqdq2mu2e/image/upload/v1/assafgranit/close-white.svg");
      background-position: center;
      background-size: 24px 24px;
      position: fixed;
      top: 20px;
      right: 20px;
      @include hide-text;

      &:hover {
        background-color: transparent;
      }

      &:active {
        top: 20px;
        right: 20px;
      }
    }
  }

  .popup.--restaurants.mfp-hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
    z-index: -1;
  }

  .gutter {
    width: 2.5%;
  }
}
