@mixin font--primary-light {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 300;
}

@mixin font--primary-light-italic {
  font-family: $base-font-family;
  font-style: italic;
  font-weight: 300;
}

@mixin font--primary-regular {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 400;
}

@mixin font--primary-regular-italic {
  font-family: $base-font-family;
  font-style: italic;
  font-weight: 400;
}

@mixin font--primary-semibold {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 600;
}

@mixin font--primary-semibold-italic {
  font-family: $base-font-family;
  font-style: italic;
  font-weight: 600;
}

@mixin font--primary-bold {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 700;
}

@mixin font--secondary-black {
  font-family: $heading-font-family;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.01em;
  line-height: 1.17;
}

@mixin font--secondary-black-italic {
  font-family: $heading-font-family;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.01em;
  line-height: 1.17;
}
