html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 300;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0;
}

p {
  margin: 0 0 $base-spacing;
  line-height: 1.88;
}

a {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 700;
  color: $action-color;
  text-decoration-skip: ink;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:hover {
    color: rgba($action-color, 0.65);
  }

  &:active {
    color: $action-color;
  }
}

a.link.--white {
  color: $white;

  &:hover {
    color: rgba($white, 0.65);
  }

  &:active {
    color: $white;
  }
}
