// Typography
$base-font-family: "Open Sans", $font-stack-system;
$heading-font-family: "Playfair Display", $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: #ffffff;
$black: #000000;
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$gray-10: #f8f8f8;
$gray-50: #383838;
$blue-90: #1f3463;
$red-50: #e8443c;
$error: $red-50;

// Font Colors
$base-font-color: $blue-90;
$action-color: $blue-90;

// Border
$base-border-color: $blue-90;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 100ms;
$base-timing: ease;
