@include jacket(non-critical) {
  .section.--contact {
    .contact {
      position: relative;

      &.--submitted {
        .form-sent {
          display: flex;
          direction: ltr;
        }
      }

      &.--error {
        .form-error {
          display: block;
          direction: ltr;
        }
      }
    }

    .form {
      @include breakpoint(sm) {
        @include grid-container;
        @include grid-collapse;
        max-width: 700px;
        margin-#{$start-direction}: auto;
        margin-#{$end-direction}: auto;
      }

      .column {
        @include breakpoint(sm) {
          @include grid-column(6);
        }
      }

      .form-control.--message {
        textarea {
          height: 107px;
        }
      }

      .form-control.--submit {
        background-color: $gray-10;
        text-align: $end-direction;
        margin-top: -20px;
        border: $base-border;
        border-top: 0;

        button {
          background-color: $gray-10;
          color: $blue-90;
          text-transform: uppercase;
          transition: opacity $base-duration $base-timing;

          &:hover {
            opacity: 0.75;
          }

          &:active {
            opacity: 1;
          }

          img {
            @include m-r-spacer-($spacer-sm);
            transform: scale($transform-direction);
          }
        }
      }

      label.error {
        display: none;
      }

      input.error,
      textarea.error {
        border-color: $error;
      }
    }

    .form-sent {
      text-align: center;
      background-color: rgba($white, 0.9);
      position: absolute;
      top: 0;
      #{$end-direction}: 0;
      #{$start-direction}: 0;
      bottom: 0;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include breakpoint(md) {
        @include grid-container;
        @include grid-collapse;
        max-width: 700px;
        margin-#{$start-direction}: auto;
        margin-#{$end-direction}: auto;
      }

      .title {
        @include size--base-2;
        @include font--primary-bold;
        @include m-b-spacer-($spacer-sm);
        line-height: 1.45;
      }
    }

    .form-error {
      display: none;
      @include m-t-spacer-($spacer-md);

      @include breakpoint(md) {
        @include grid-container;
        @include grid-collapse;
        max-width: 700px;
        margin-#{$start-direction}: auto;
        margin-#{$end-direction}: auto;
      }

      .text {
        color: $error;
        text-align: center;
      }
    }
  }
}
