@include jacket(non-critical) {
  .popup {
    background-color: $white;
    max-width: 800px;
    margin-#{$start-direction}: auto;
    margin-#{$end-direction}: auto;
    text-align: center;
    position: relative;
    @include p-x-spacer-($spacer-xl);
    @include p-y-spacer-($spacer-2xl);

    @include breakpoint(sm) {
      @include p-x-spacer-($spacer-none);
    }

    @include breakpoint(md) {
      @include p-x-spacer-($spacer-xl);
    }

    .popup__title {
      @include m-b-spacer-($spacer-lg);

      h2 {
        @include size--base-5;
        @include font--secondary-black;
      }
    }

    .popup__teaser {
      .title {
        @include m-t-spacer-($spacer-lg);

        h3 {
          line-height: 1;
          @include size--base-1;
          @include font--primary-semibold;
        }
      }

      .description {
        margin-top: 20px;
        max-width: 400px;
        margin-#{$start-direction}: auto;
        margin-#{$end-direction}: auto;

        p {
          line-height: 1.88;
          @include size--base-0;
          @include font--primary-light;
        }
      }
    }

    .popup__contact {
      @include m-t-spacer-($spacer-xl);

      .section.--contact {
        @include p-y-spacer-($spacer-none);
        // @include m-t-spacer-($spacer-none !important);
      }
    }
  }

  .popup.--gallery {
    background-color: transparent;
    padding: 0;

    .gallery-prev,
    .gallery-next {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }

    .gallery-prev {
      position: fixed;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      z-index: 99999;

      @include breakpoint(xl) {
        left: 200px;
      }
    }

    .gallery-next {
      position: fixed;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      z-index: 99999;

      @include breakpoint(xl) {
        right: 200px;
      }
    }

    .lSSlideOuter {
      .lSPager.lSGallery {
        @include breakpoint(mobile-only) {
          display: none;
        }
      }
    }
  }

  .mfp-popup {
    .mfp-content {
      height: 100%;

      @include breakpoint(md) {
        height: auto;
      }

      .popup {
        height: 100%;

        @include breakpoint(md) {
          height: auto;
        }
      }
    }
  }

  .mfp-bg {
    z-index: 99998 !important;
  }

  .mfp-wrap {
    z-index: 99999 !important;
  }

  /* overlay at start */
  .mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* overlay animate in */
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
  }
  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }

  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }

  .mfp-wrap {
    @include breakpoint(mobile-only) {
      top: 0 !important;
      #{$start-direction}: 0 !important;
      width: 100%;
      height: 100% !important;
      z-index: 999999;
      position: fixed !important;
      overflow-y: auto;
    }

    @include breakpoint(md) {
      top: 50% !important;
      #{$start-direction}: 50% !important;
      position: fixed !important;
      overflow-y: auto;
      transform: translateX(-50%*$transform-direction) translatey(-50%);
    }

    .mfp-container {
      padding: 0;
    }
  }

  button.mfp-close {
    width: 32px;
    height: 32px;
    background-image: url('https://res.cloudinary.com/dqdq2mu2e/image/upload/fl_sanitize/v1/assafgranit/close-blue.svg');
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    top: 20px;
    right: 20px;
    @include hide-text;
    font-size: 0;

    &:hover {
      background-color: transparent;
    }

    &:active {
      top: 20px;
      #{$end-direction}: 20px;
    }
  }
}
