@include jacket(critical) {
  .section {
    @include p-y-spacer-($spacer-2xl);
    max-width: 375px;
    margin-#{$start-direction}: auto;
    margin-#{$end-direction}: auto;

    @include breakpoint(sm) {
      max-width: 764px;
    }

    @include breakpoint(lg) {
      @include p-y-spacer-($spacer-3xl);
      max-width: 1600px;
    }

    .section__header {
      @include p-x-spacer-($spacer-lg);
      @include m-b-spacer-($spacer-2xl);
      @include grid-container;
      @include grid-collapse;
      text-align: center;

      @include breakpoint(lg) {
        @include p-x-spacer-($spacer-none);
        @include m-b-spacer-($spacer-2xl);
      }

      .title {
        @include m-b-spacer-($spacer-lg);

        h2 {
          @include size--base-5;
          @include font--secondary-black;
        }
      }

      .tagline {
        @include size--base-1;
        @include font--primary-light-italic;
        @include m-b-spacer-($spacer-2xl);
      }

      &.--split {
        .tagline {
          @include m-b-spacer-($spacer-xl);
        }
      }
    }

    .section__content {
      text-align: center;

      @include breakpoint(lg) {
        @include p-x-spacer-($spacer-none);
        text-align: #{$start-direction};
      }

      .item {
        .image {
          transition: opacity $base-duration $base-timing;
        }

        .title {
          @include m-t-spacer-($spacer-lg);

          h3 {
            line-height: 1;
            @include size--base-1;
            @include font--primary-semibold;
          }
        }

        .description {
          margin-top: 20px;

          p {
            line-height: 1.88;
            @include size--base-0;
            @include font--primary-light;
          }
        }

        .more {
          @include m-t-spacer-($spacer-lg);
          line-height: 1;
          letter-spacing: 0.3px;
          @include size--base-0;
          @include font--primary-semibold;

          img {
            margin-#{$end-direction}: 15px;
            display: inline-block;
            transform: scale($transform-direction);
          }
        }

        .promo {
          img {
            margin-#{$end-direction}: 5px;
          }
        }
      }

      .item:hover {
        .image {
          opacity: 0.75;;
        }
      }
    }
  }

  .section.--hero {
    @include p-y-spacer-($spacer-none);
    @include m-x-spacer-(-$spacer-lg);
    max-width: 1600px;

    @include breakpoint(lg) {
      @include m-x-spacer-($spacer-none);
    }
  }

  .section.--cover {
    @include p-y-spacer-($spacer-none);
    @include p-x-spacer-($spacer-lg);
    @include m-x-spacer-(-$spacer-lg);
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 375px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @include breakpoint(sm) {
      height: 500px;
    }

    @include breakpoint(lg) {
      background-attachment: fixed;
      height: 700px;
      max-width: 1600px;
      margin-#{$start-direction}: auto;
      margin-#{$end-direction}: auto;
    }
  }

  .section.--gallery {
    @include breakpoint(lg) {
      max-width: 1600px;
      margin-#{$start-direction}: auto;
      margin-#{$end-direction}: auto;
    }

    .section__content {
      @include p-x-spacer-($spacer-none);
    }

    .carousel {
      &.--slide {
        .slick-slide {
          transform: scale(0.9);
          transition: transform $base-duration $base-timing;
          transform-origin: 50% 35%;

          @include breakpoint(lg) {
            transform: scale(1);
          }

          img {
            max-width: 100%;
            height: auto;
            margin-#{$start-direction}: auto;
            margin-#{$end-direction}: auto;
          }
        }

        .slick-active {
          transform: scale(1);

          @include breakpoint(lg) {
            transform: scale(1);
          }
        }
      }

      .slick-dots {
        li {
          width: auto;
          height: auto;
          vertical-align: middle;
          margin-#{$start-direction}: 5px;
          margin-#{$end-direction}: 5px;

          @include breakpoint(lg) {
            margin-#{$start-direction}: 10px;
            margin-#{$end-direction}: 10px;
          }

          button {
            background-color: $action-color;
            opacity: 0.5;
            box-shadow: none;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            transform: scale(0.85);
            transition: all $base-duration $base-timing;

            @include breakpoint(lg) {
              width: 15px;
              height: 15px;
            }
          }

          button:before {
            display: none;
          }

          button:hover {
            background-color: $action-color;
            box-shadow: none;
            opacity: 1;
            transform: scale(1);
          }

          &.slick-active button {
            background-color: $action-color;
            box-shadow: none;
            opacity: 1;
            transform: scale(1);
          }
        }
      }

      .slick-arrow {
        width: 11px;
        height: 20px;
        z-index: 1;

        @include breakpoint(md) {
          width: 22px;
          height: 40px;
        }

        &:before {
          content: "";
          display: block;
          width: 11px;
          height: 20px;
          background-size: cover;

          @include breakpoint(md) {
            width: 22px;
            height: 40px;
          }
        }

        &.slick-prev:before {
          background-image: url('https://res.cloudinary.com/dqdq2mu2e/image/upload/fl_sanitize/v1/assafgranit/arrow-left.svg');
        }

        &.slick-next:before {
          background-image: url('https://res.cloudinary.com/dqdq2mu2e/image/upload/fl_sanitize/v1/assafgranit/arrow-right.svg');
        }
      }
    }

    .carousel.--center-mode {
      .item {
        @include m-x-spacer-($spacer-2xs);

        @include breakpoint(lg) {
          @include m-x-spacer-($spacer-xs);
        }
      }
    }
  }

  .section.--spacing-top-0 {
    @include p-t-spacer-($spacer-none);
  }

  .section.--spacing-bottom-0 {
    @include p-b-spacer-($spacer-none);
  }
}
