.section.--contact {
  .form {
    @include breakpoint(lg) {
      @include grid-container;
      @include grid-collapse;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }

    .column {
      @include breakpoint(lg) {
        @include grid-column(6);
      }
    }

    .form-control.--message {
      textarea {
        height: 107px;
      }
    }

    .form-control.--submit {
      background-color: $gray-10;
      text-align: right;
      margin-top: -20px;
      border: $base-border;
      border-top: 0;

      button {
        background-color: $gray-10;
        color: $blue-90;
        text-transform: uppercase;
        transition: opacity $base-duration $base-timing;

        &:hover {
          opacity: 0.75;
        }

        img {
          @include m-r-spacer-($spacer-sm);
        }
      }
    }
  }
}
