.popup {
  background-color: $white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include p-x-spacer-($spacer-xl);
  @include p-y-spacer-($spacer-2xl);

  .popup__title {
    .title {
      @include m-b-spacer-($spacer-lg);

      h2 {
        @include size--base-5;
        @include font--secondary-black;
      }
    }
  }

  .popup__teaser {

  }

  .popup__contact {

  }
}
