.section {
  @include p-y-spacer-($spacer-2xl);
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(lg) {
    @include p-y-spacer-($spacer-3xl);
    max-width: 1600px;
  }

  .section__header {
    @include p-x-spacer-($spacer-lg);
    @include grid-container;
    @include grid-collapse;
    text-align: center;

    @include breakpoint(lg) {
      @include p-x-spacer-($spacer-none);
    }

    .title {
      @include m-b-spacer-($spacer-lg);

      h2 {
        @include size--base-5;
        @include font--secondary-black;
      }
    }

    .tagline {
      @include size--base-1;
      @include font--primary-light-italic;
      @include m-b-spacer-($spacer-2xl);
    }
  }

  .section__content {
    @include p-x-spacer-($spacer-lg);
    text-align: center;

    @include breakpoint(lg) {
      @include p-x-spacer-($spacer-none);
      text-align: $start-direction;
    }

    .item {
      .title {
        @include m-t-spacer-($spacer-lg);

        h3 {
          line-height: 1;
          @include size--base-1;
          @include font--primary-semibold;
        }
      }

      .description {
        margin-top: 20px;

        p {
          line-height: 1.88;
          @include size--base-0;
          @include font--primary-light;
        }
      }

      .more {
        @include m-t-spacer-($spacer-lg);
        line-height: 1;
        letter-spacing: 0.3px;
        @include size--base-0;
        @include font--primary-semibold;

        img {
          margin-right: 15px;
        }
      }
    }
  }
}

.section.--hero {
  @include p-y-spacer-($spacer-none);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.section.--cover {
  @include p-y-spacer-($spacer-none);
  @include p-x-spacer-($spacer-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 375px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1180px;
  position: relative;

  @include breakpoint(lg) {
    height: 700px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }

  .section__overlay {
    @include overlay(2);
  }

  .section__text {
    position: relative;
    z-index: 3;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    blockquote {
      color: $white;
      @include size--base-4;
      @include font--secondary-black-italic;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.section.--gallery {
  @include m-x-spacer-(-$spacer-md);

  @include breakpoint(lg) {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }

  .section__content {
    @include p-x-spacer-($spacer-none);
  }

  .carousel {
    .slick-slide {
      transform: scale(0.9);
      transition: transform $base-duration $base-timing;
      transform-origin: 50% 35%;

      @include breakpoint(lg) {
        transform: scale(1);
      }
    }

    .slick-active {
      transform: scale(1);

      @include breakpoint(lg) {
        transform: scale(1);
      }
    }

    .slick-dots {
      li {
        width: auto;
        height: auto;
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;

        @include breakpoint(lg) {
          margin-left: 10px;
          margin-right: 10px;
        }

        button {
          background-color: $action-color;
          opacity: 0.5;
          box-shadow: none;
          width: 15px;
          height: 15px;
          border-radius: 100%;
          transform: scale(0.85);
          transition: all $base-duration $base-timing;
        }

        button:before {
          display: none;
        }

        button:hover {
          background-color: $action-color;
          box-shadow: none;
          opacity: 1;
          transform: scale(1);
        }

        &.slick-active button {
          background-color: $action-color;
          box-shadow: none;
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    .slick-dotted.slick-slider {
      margin-bottom: 0;
    }

    .slick-arrow {
      width: 11px;
      height: 20px;

      @include breakpoint(lg) {
        width: 22px;
        height: 40px;
      }

      &:before {
        content: "";
        width: 11px;
        height: 20px;
        display: block;

        @include breakpoint(lg) {
          width: 22px;
          height: 40px;
        }
      }

      &.slick-prev:before {
        background-image: url(asset_path("arrow-left.svg"));
      }

      &.slick-next:before {
        background-image: url(asset_path("arrow-right.svg"));
      }
    }
  }

  .carousel.--center-mode {
    .item {
      @include m-x-spacer-($spacer-xs);
    }
  }
}

.section.--spacing-top-0 {
  @include p-t-spacer-($spacer-none);
}

.section.--spacing-bottom-0 {
  @include p-b-spacer-($spacer-none);
}
