<!DOCTYPE html>
<html lang="{{ page.lang | default: page.language | default: " en " }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="author" content="Lior Kedmi" />
  <meta name="copyright" content="Assaf Granit" />

  {% if page.language == 'en' %}
    {% asset style.critical.css @inline %}
    {% asset style.css async %}
  {% else %}
    {% asset style.critical.rtl.css @inline %}
    {% asset style.rtl.css async %}
  {% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="author" href="humans.txt">

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122644181-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-122644181-1');
  </script>
</head>

<body class="page  --{{page.title | slugify}}">
  {% include header.html %}
  <div class="view  --{{page.title | slugify}}">
    <main class="view-content" aria-label="Content">
      {{ content }}
    </main>
  </div>
  {% include popup.html %}
  {% include footer.html %}
  {% asset vendors/jquery/jquery.min.js %}
  {% asset vendors/jquery-lazy/jquery.lazy.min.js %}
  {% asset vendors/jquery-validate/jquery.validate.min.js %}
  {% asset vendors/isotope/isotope.pkgd.min.js %}
  {% asset vendors/isotope/packery-mode.pkgd.min.js %}
  {% asset vendors/magnific-popup/jquery.magnific-popup.min.js %}
  {% asset vendors/stellar.js/jquery.stellar.min.js %}
  {% asset vendors/lightgallery/lightgallery.min.js %}
  {% asset vendors/lightgallery/lightgallery-all.min.js %}
  {% asset vendors/lightslider/lightslider.min.js %}
  {% asset vendors/slick-slider/slick.min.js %}
  {% asset vendors/waypoint/jquery.waypoints.min.js %}
  {% asset vendors/clamp/clamp.min.js %}
  {% asset core.js %}
</body>
</html>
