$d-footer-size: 80px;
$m-footer-size: 60px;

.footer {

  @include breakpoint(lg) {
    height: $d-footer-size;
    @include p-x-spacer-($spacer-lg);
  }

  .container {
    @include p-x-spacer-($spacer-lg);
    @include p-y-spacer-($spacer-md);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1600px;
    height: $m-footer-size;
    background-color: $gray-10;

    @include breakpoint(lg) {
      height: $d-footer-size;
    }
  }

  .copyright {
    @include size--base-0;
    color: $blue-90;
  }
}
