$d-header-size: 80px;
$m-header-size: 60px;

.header {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $m-header-size;
  z-index: 99999;
  display: inline;

  @include breakpoint(lg) {
    height: $d-header-size;
    @include p-x-spacer-($spacer-lg);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    height: $m-header-size;

    @include breakpoint(lg) {
      height: $d-header-size;
    }
  }

  .logo {
    flex-grow: 1;
  }

  .menu,
  .languages {
    display: none;

    @include breakpoint(lg) {
      display: block;
    }

    ul {
      li {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        @include size--base-0;
        @include font--primary-semibold;
      }
    }
  }

  .menu {
    ul {
      li {
        @include m-r-spacer-($spacer-lg);
      }
    }
  }

  .languages {
    text-align: right;

    ul {
      li {
        @include m-l-spacer-($spacer-sm);

        a {
          color: rgba($action-color, 0.65);
        }
      }

      li.--active {
        a {
          color: rgba($action-color, 1);
        }
      }
    }
  }
}

.header-pusher {
  height: $m-header-size;

  @include breakpoint(lg) {
    height: $d-header-size;
  }
}

.anchor {
  position: relative;
  top: -$m-header-size;

  @include breakpoint(lg) {
    top: -$d-header-size;
  }
}
