body {
  @include p-x-spacer-($spacer-lg);
}

.section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  @include grid-container;
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@mixin overlay($zIndex) {
  position: absolute;
  z-index: $zIndex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($black, 0.3);
}
