.hide-on-mobile {
  @include breakpoint(mobile-only) {
    display: none;
  }
}

.hide-on-tablet {
  @include breakpoint(md) {
    display: none;
  }
}

.hide-on-desktop {
  @include breakpoint(lg) {
    display: none;
  }
}

.show-on-mobile {
  @include breakpoint(mobile-only) {
    display: block;
  }
}

.show-on-tablet {
  @include breakpoint(md) {
    display: block;
  }
}

.show-on-desktop {
  @include breakpoint(lg) {
    display: block;
  }
}
