html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 300;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0;
}

p {
  margin: 0 0 $base-spacing;
}

a {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 700;
  color: $action-color;
  text-decoration-skip: ink;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:hover {
    color: rgba($action-color, 0.65);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
